h2 {
    /* line-height: 2.2rem; */
    padding-bottom: 12.5px;
    color: #155263E6;
}

.about {
    margin-top: 12.5vh;
    padding: 0vh 10vw;
    width: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 55%;
    margin: auto 20px;
    padding: 15px;
}

.about-text a {
    color: #ff9a3c;
    padding: 0 15px 0 0;
    transition: 0.35s ease;
}

.about-text a:hover {
    color: #ff6f3c;
}


.about-text p {
    padding-bottom: 30px;
}

figure {
    display: block;
    width: auto;
    height: 50vh;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

img {
    width: auto;
    height: 100%;
    border-radius: 15px;

}

.contact {
    padding: 5vh 10vw;
}

.contact p {
    width: 50%;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .about {
        width: 90vw;
        /* margin-top: 15vh auto 0; */
        padding: 0vh 5vw;
        justify-content: space-around;
    }

    .about-text {
        width: 50%;
        margin: 2.5vh 0;
    }

    figure {
        margin: auto 0;
    }

    .contact {
        padding: 5vh 40vw 5vh 7.5vw;
    }

    .contact p {
        width: 85%;
    }
}


@media (max-width: 767px) {
    .about {
        width: 90vw;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-text {
        width: 100%;
        margin: 0;
    }

    figure {
        margin-top: 2.5vh;
        width: 90vw;
        height: auto;
        /* max-height: 75vh; */
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 15px;

    }



    .about-text p {
        padding-bottom: 15px;
    }

    .contact {
        padding: 15px;
    }

    .contact p {
        width: 100%;
    }
}